<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary">
    <ion-button slot="start" name="icon-only" routerLink="/home">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-button>
    <ion-title>Ajouter</ion-title>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Remplissez le formulaire pour ajouter un concert à votre liste.</p>
  </ion-item>
  <ion-grid>
    <ion-row class="rowup">
      <ion-col>
        <ion-label>Salle :</ion-label>
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="concert.place">
          <ion-select-option>Zénith de Lille</ion-select-option>
          <ion-select-option>Bataclan</ion-select-option>
          <ion-select-option>AccorHotels Arena</ion-select-option>
          <ion-select-option>Bus Palladium</ion-select-option>
          <ion-select-option>Moulin rouge</ion-select-option>
          <ion-select-option>Olympia</ion-select-option>
          <ion-select-option>Casino de Paris</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row class="rowdown">
      <ion-col>
        <ion-label>Groupe :</ion-label>
      </ion-col>
      <ion-col>
        <ion-col>
          <ion-select [(ngModel)]="concert.Group">
            <ion-select-option>The Beatles</ion-select-option>
            <ion-select-option>Pink Floyd</ion-select-option>
            <ion-select-option>Maroon 5</ion-select-option>
            <ion-select-option>Imagine dragons</ion-select-option>
            <ion-select-option>ACDC</ion-select-option>
            <ion-select-option>Muse</ion-select-option>
            <ion-select-option>The offspring</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="rowdown">
      <ion-col size="4">
        <ion-label>Date :</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-input type="date" [(ngModel)]="concert.date"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="rowdown">
      <ion-col size="4">
        <ion-label>Note :</ion-label>
      </ion-col>
      <ion-col size="8">
        <app-star max="5" [(starValue)]="grade"></app-star>
      </ion-col>
    </ion-row>
    <ion-button expand="full" (click)="validate()" routerLink="/home">Valider</ion-button>
  </ion-grid>
</ion-content>